<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>Characters</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>

<body>

<header>
    <h1>Characters</h1>
</header>

<div class="container">

    <aside class="sidebar">
        <a href="/">Home</a>
        <a href="/story">Story</a>
        <a href="/characters">Characters</a>
        <a href="/enemies">Enemies</a>
        <a href="/weapons">Weapons</a>
        <a href="/FAQ">FAQ</a>
    </aside>


    <main class="main">

        <h2 class="main-title">Main Characters</h2>

        <div class="character-card">
            <img src="/static/images/LeonC.png">
            <div>
                <h3>Leon S. Kennedy</h3>
                <p>Veteran agent fighting global bio-terror threats.</p>
            </div>
        </div>

        <div class="character-card">
            <img src="{{ url_for('static', filename='images/GraceC.jpg') }}">
            <div>
                <h3>Grace Ashcroft</h3>
                <p>A survivor connected to the outbreak mystery.</p>
            </div>
        </div>

        <h2 class="side-title">Side Characters</h2>

        <div class="character-card">
            <img src="{{ url_for('static', filename='images/side1.jpg') }}">
            <div>
                <h3>Unknown Scientist</h3>
                <p>Researcher tied to the creation of the virus.</p>
            </div>
        </div>

    </main>

</div>

</body>
</html>