<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>Characters</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>

<body>

<header>
    <h1>Characters</h1>
</header>

<div class="container">

    <aside class="sidebar">
        <a href="/">Home</a>
        <a href="/story">Story</a>
        <a href="/characters">Characters</a>
        <a href="/enemies">Enemies</a>
        <a href="/weapons">Weapons</a>
        <a href="/FAQ">FAQ</a>
    </aside>


    <main class="main">

    <h2 class="main-title">Characters</h2>

   {% for c in characters %}
<div class="character-card">

    <img src="{{ url_for('static', filename=c[2]) }}">

    <div>
        <h3>{{ c[0] }}</h3>
        <p>{{ c[1] }}</p>
    </div>

</div>
{% endfor %}

</main>

</div>

</body>
</html>