<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>Enemies</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>

<body>

<header>
    <h1>Enemies</h1>
</header>

<div class="container">

    <aside class="sidebar">
        <a href="/">Home</a>
        <a href="/story">Story</a>
        <a href="/characters">Characters</a>
        <a href="/enemies">Enemies</a>
        <a href="/weapons">Weapons</a>
        <a href="/FAQ">FAQ</a>
    </aside>


    <main class="main">

        <h2>Bio-Organic Weapons</h2>

        <div class="card">
            <h3>Infected Humans</h3>
            <p>Humans transformed into aggressive mutated creatures.</p>
        </div>

        <div class="card">
            <h3>Regenerators</h3>
            <p>Highly dangerous enemies that can heal rapidly.</p>
        </div>

        <div class="card">
            <h3>Boss Entities</h3>
            <p>Massive bio-weapons controlling infected zones.</p>
        </div>

    </main>

</div>

</body>
</html>