<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>Weapons</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>

<body>

<header>
    <header>
    <a href="/" class="logo-link">
    <img src="{{ url_for('static', filename='images/RE logo.png') }}" alt="Resident Evil Logo" class="logo">
</a>
</header>
    <h1>Weapons</h1>
</header>

<div class="container">

    <aside class="sidebar">
        <a href="/">Home</a>
        <a href="/story">Story</a>
        <a href="/characters">Characters</a>
        <a href="/enemies">Enemies</a>
        <a href="/weapons">Weapons</a>
        <a href="/FAQ">FAQ</a>
    </aside>


    <main class="main">

        <h2>Survival Arsenal</h2>

        <div class="card">
            <h3>Pistol</h3>
            <p>Standard sidearm used for early survival situations.</p>
        </div>

        <div class="card">
            <h3>Shotgun</h3>
            <p>High damage weapon effective at close range.</p>
        </div>

        <div class="card">
            <h3>Explosives</h3>
            <p>Used for boss fights and crowd control situations.</p>
        </div>

    </main>

</div>

</body>
</html>